@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Exo);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

$blue: #75A1E4;
$orange: #FFCD77;
$grey: #E9E5DC;

@import "navigation";
.stuck{
	position: fixed; 
	top: 0;
	width: calc(100% - 40px);
	z-index: 200;
	background-color: #D6C398;
}

body{
	.headline{
		height:100px;
		text-align: center;
		background-color: $blue;
		#headline{
			font-family: 'Lobster', cursive;
			font-size:52px;
			font-weight:bold;
			margin-top: 40px;
		}
	}

	.headings{
		font-family: 'Exo', sans-serif;
		font-size:35px;
		font-weight:bold;
		line-height: 40px;
	}

	.next-show-fluid{
		background-color: $blue;
		border-bottom: 5px solid $orange;
		.next-show{
			padding-top:20px;
			padding-bottom: 5px;
			.row{
				padding-left: 10px;
			}
			.title-of-the-show, .date-of-show, .location-of-show, .more-info-next-show{
				color:$grey;
				text-align:center;
				text-shadow:0px 1px #030303;
			}
			.title-of-the-show{
				font-size: 25px;
				line-height: 25px;
				font-weight:bold;
			}
			.date-of-show{
				font-size:22px;
				line-height: 30px;
			}
			.location-of-show{
				font-size:20px;
				line-height: 25px;
				font-weight: bold;
			}
			.more-info-next-show{

			}
		}
	}




	.future-shows-fluid{
		background-color: $orange;
		.future-shows{
			padding-top:20px;
			.row{
				padding-left: 10px;
			}
			.table-striped{
				tbody tr:nth-child(odd) th {
					background-color:#F0F0F0;
				}
				tbody tr:nth-child(even) th {
					background-color:$orange;
				}
				thead{
					tr{
						th{
							font-family: 'Droid Sans', sans-serif;
							font-weight: normal;
							font-size:18px;
						}
					}
				}
			}
			th.start-time{
				padding-left:15px;
			}
			th.links{
				text-align: center;
				padding: 0px;
				padding-bottom: 3px;
			}
		}
	}

	.venues-fluid{
		background-color:  $grey;
		height: 650px;
		.venues{
			padding-top:20px;
			.row{
				padding-left: 10px;
				table{
					tr{
						border-bottom:3px solid white;
						th{
							text-align: center;
							&:hover{
								background-color: white;
								cursor: pointer; 
							}
							&.selected{
								background-color: white;
								cursor: pointer; 
							}
						}
					}
				}
			}
		}
		#venue-map{
			height:500px;
		}
	}

	.about-fluid{
		background-color: $orange;
		.about{
			margin-bottom: 20px;
			padding-top: 20px;
			.description{
				p{
					font-family: 'Droid Sans', sans-serif;
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
	}
}