.navigation.container-fluid
  .tightener
    %nav.cl-effect-18
      .navigation-link-1.navigation-link
        =link_to "Next Show", "#next-show"
      .navigation-link-2.navigation-link
        =link_to "Future Shows","#future-shows"
      .navigation-link-3.navigation-link
        =link_to "Venues", "#venues"
      .navigation-link-4.navigation-link
        =link_to "About", "#about"