.navigation.container-fluid
  .tightener
    %nav.cl-effect-18
      .navigation-link-1
        =link_to "Next Show", "#next-show"
      .navigation-link-2
        =link_to "Future Shows","#future-shows"
      .navigation-link-3
        =link_to "Venues", "#venues"
      .navigation-link-4
        =link_to "About", "#about"