.navigation.container-fluid
  .tightener
    %nav.cl-effect-18
      .navigation-link-1
        =link_to "Next Show", "#"
      .navigation-link-2
        =link_to "Future Shows","#"
      .navigation-link-3
        =link_to "Venues", "#"
      .navigation-link-4
        =link_to "About", "#"