.navigation.container-fluid
  .container
    %nav.cl-effect-18
      .span2.offset2
        %a{"data-hover" => "Desultory", href: "#"} Next Show
      .span3
        %a{"data-hover" => "Sumptuous", href: "#"} Future Shows
      .span2
        %a{"data-hover" => "Scintilla", href: "#"} Venues