!!!
%html
  %head
    %title PunkShows
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCfi8b8U6Z5OKEJl3vCNWLimomphjAjJlo&sensor=true", type: "text/javascript"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .headline.container-fluid
      %p#headline DIY Punk Shows Zagreb
    = yield
